/* style.css */

.art-signin-form-container {
    background: #FFFFFF;
    border-radius: 16px;
    box-shadow: 0 4px 24px rgba(0, 0, 0, 0.1);
    padding: 40px;
    width: 700px; /* Or as per your design */
    margin: 50px auto;
    position: relative;
    border-top: 4px solid #ffffff; /* Green top border as per screenshot */
    
  }
  
  .art-signin-header {
    font-size: 24px; /* Adjust font size as needed */
  color: #333;
  margin-bottom: 30px;
  display: flex;
  align-items: center;
  position: relative;
  padding-left: 20px; /* Adds padding on the left side */
  }
  
  .art-signin-step {
    display: flex;
    flex-direction: column;
  }
  
  .art-signin-step > * {
    margin-bottom: 15px;
  }
  
  input[type="text"],
  input[type="number"],
  input[type="email"],
  input[type="password"],
  select,
  textarea {
    width: 100%;
    padding: 15px;
    border: 1px solid #ddd;
    border-radius: 8px;
    font-size: 16px;
  }
  
  .art-signin-button-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: absolute;
    top: 30px;
    right: 32px;
    padding: 4px;
    display: flex;
  }

  
  .art-signin-button {
    padding: 10px 30px;
    border-radius: 20px;
    cursor: pointer;
    font-size: 16px;
    font-weight: bold;
    transition: all 0.3s ease;
    width: auto;
    text-align: center;
  }
  
  .art-signin-next {
    background-color: #007bff;
    color: white;
    border: none;
  }
  
  .art-signin-next:hover {
    background-color: #0056b3;
  }
  
  .art-signin-prev {
    background-color: transparent;
    color: #007bff;
    border: 2px solid #007bff;
  }
  
  .art-signin-prev:hover {
    background-color: #f0f0f0;
  }
  
  .art-signin-create {
    background-color: #28a745;
    color: white;
    border: none;
  }
  
  .art-signin-create:hover {
    background-color: #218838;
  }
  
  @media (max-width: 768px) {
    .art-signin-form-container {
      width: auto;
      padding: 20px;
      border-top: none; /* Remove green border on small screens for better aesthetics */
    }
  
    .art-signin-button-container {
      position: static;
      margin-top: 20px;
    }
  }
  .image-uploader {
    display: block;
    border: 2px dashed #ccc;
    border-radius: 12px;
    width: 250px;
    height: 250px;
    margin: 30px auto;
    cursor: pointer;
    text-align: center;
  }
  
  .image-uploader-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
  }
  
  .image-uploader-icon {
    font-size: 24px;
    color: #aaa;
  }
  
  .image-uploader-text {
    font-size: 16px;
    color: #aaa;
  }
  
  /* Hover state styling */
  .image-uploader:hover {
    border-color: #00A4FF;
  }
  
  .image-uploader:hover .image-uploader-icon,
  .image-uploader:hover .image-uploader-text {
    color: #00A4FF;
  }