/* style.css */
.bg-white {
  background-color: white;
}

.container {
  width: 100%; /* Changed to 100% to match the page width */
  max-width: none; /* Removed max-width constraint */
  padding: 2rem;
  display: flex;
  align-items: center;
}

.logo {
  margin-right: auto;
  width: 192px; /* Adjust as needed */
  flex-shrink: 0;
}

.logo-image {
  height: 2rem; /* 32px */
}

.search {
  width: 100%;
  max-width: 500px; /* Increased max-width for better use of space */
  background-color: #f3f3f3;
  border-radius: 0.375rem;
  display: flex;
  align-items: center;
  padding: 0.25rem;
}

.search-select {
  background: transparent;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 0.875rem;
  padding: 0.5rem;
  margin-right: 1rem;
  border: none;
}

.search-input {
  border-left: 1px solid #d1d5db;
  background: transparent;
  font-weight: semibold;
  font-size: 0.875rem;
  padding-left: 1rem;
  flex-grow: 1;
}

.search-icon {
  margin-left: auto;
  height: 1.25rem; /* Adjusted icon size */
  padding: 0.5rem; /* Reduced padding */
  color: #6b7280;
}

.phone-number {
  margin-left: auto;
  width: 192px;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.phone-bold {
  font-weight: bold;
  font-size: 1.25rem;
}

.phone-sub {
  font-weight: semibold;
  font-size: 0.875rem;
  color: #9ca3af;
}

.nav {
  display: contents;
}

.nav-list {
  margin-left: 1rem;
  flex-grow: 1; /* Makes the navigation list expand */
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.nav-item {
  margin-left: 0.5rem;
  line-height: 0; /* Aligns SVG icons vertically */
}

.nav-item svg {
  height: 1.5rem; /* Smaller icon size */
  width: 1.5rem; /* Ensures icons are square */
}

.cart-count {
  margin-left: 1rem;
  display: flex;
  flex-direction: column;
}

.cart-text {
  font-size: 0.75rem;
  color: #6b7280;
}

.cart-amount {
  font-weight: bold;
}
