.collection-banner2 {
    display: flex;
    justify-content: space-between;
    background-color: #E1D2FF; /* Light pink background */
    padding: 20px;
    color: #000;
    height: 348px;
  }
  
  .banner-left2 {
    flex-basis: 50%;
    font-weight: bold;
  }
  
  .banner-right2{
    flex-basis: 50%;
    text-align: center;
    padding-right: 664px;
    /* border-left: 41px solid #00ffff; */
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .button-container {
    display: flex; /* This will align the buttons side by side */
    justify-content: flex-start; /* This will align the buttons to the start of the flex container */
  }
  
  .btn2 {
    background-color: #000;
  font-weight: bold;
  width: 130px;
  height: 66px;
  color: white;
  border: none;
  padding: 10px 20px;
  margin-top: 10px;
  margin-left: 98px;
  margin-right: 10px; /* Adds spacing between the buttons */
  cursor: pointer;
    
  }
  
  .sign-up2 {
    background-color: #E1D2FF;
    font-weight: bold;
    width: 130px;
    height: 66px;
    color: rgb(0, 0, 0);
    border: 4px solid rgb(0, 0, 0);
    padding: 10px 20px;
    margin-top: 10px;
    margin-right: 10px; /* Adds spacing between the buttons */
    cursor: pointer;
  }
  
  /* Adjust font sizes as necessary */
  h1 {
    font-size: 2em;
  }
  
  p {
    font-size: 1em;
  }
  
  /* Responsive adjustments */
  @media (max-width: 768px) {
    .collection-banner2 {
      flex-direction: column;
    }
  
    .banner-right2 {
      text-align: center;
      border-left: none;
      border-top: 2px solid #00ffff;
      padding-top: 20px;
    }
  
    .btn2 {
      width: 80%;
      margin-top: 5px;
    }
  }
  